body{
    background-image: linear-gradient(157.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(442deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(112.5deg, rgb(95, 97, 179) 0%, rgb(95, 97, 179) 16%,rgb(115, 120, 184) 16%, rgb(115, 120, 184) 20%,rgb(135, 142, 188) 20%, rgb(135, 142, 188) 32%,rgb(155, 165, 193) 32%, rgb(155, 165, 193) 38%,rgb(175, 187, 198) 38%, rgb(175, 187, 198) 48%,rgb(195, 210, 203) 48%, rgb(195, 210, 203) 51%,rgb(215, 232, 207) 51%, rgb(215, 232, 207) 59%,rgb(235, 255, 212) 59%, rgb(235, 255, 212) 100%),linear-gradient(397deg, rgb(236, 151, 145),rgb(201, 243, 43)); background-blend-mode:overlay,overlay,overlay,normal;
}
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.login-section h1{
    font-size: 25px;
}
.login-section input{
    /* border: none; */
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
.login-section input:hover{
    box-shadow: 8px 8px 8px rgb(70, 70, 70);
}
.login-section button{
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(17, 196, 241, 0.69);
    transition-duration: 0.5s;
}
.login-section button:hover{
box-shadow: 5px 5px 5px rgb(0, 0, 0);
color: rgb(0, 0, 0);
/* transform: rotateX(360deg); */
}

.login-section label{
    font-weight: 600;
}

.login-section a{
    text-decoration: none;
    color: black;
}